
/* start */
  .frequently_container{
    padding: 15px 20px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid var(--primary-border);
    margin-bottom: 20px;
  }
  .frequently_card_grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 15px;

   
  }
  .frequently_card{
    padding: 14px;
    border: 1px solid purple;
    border-radius: 8px;
  }
  .frequently_card_header{
    font-size: 18px;
    color: black;
    margin-bottom: 8px;
    font-weight: 500;
    margin-top: 0;
  }
  .frequently_card_description{
    font-size: 14px;
    margin-bottom: 8px;
    color: gray;
    margin-top:0;
  }
  .frequently_card_link{
    color: purple;
    font-size: 15px;
    text-decoration: none;
    display: inline-flex;
    gap: 3px;
    border-bottom: 1px solid purple;
    font-weight: 500;
  }
  .frequently_card_link span:nth-child(2){
    position: relative;
    right: 0;
    transition: all linear 0.2s;
  }
  .frequently_card_link:hover span:nth-child(2){
  right: -10px;
  }

  @media screen and (max-width:991px) {
    .frequently_card_grid {
      grid-template-columns: 100%;
  }
  .frequently_card_header{
    font-size: 15px;
    margin-bottom: 6px;
  }
  .frequently_card_description{
    font-size: 12px;
    margin-bottom: 6px;
  }

  }