.filter_flex {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.common_select {
    position: relative;
}
.common_select select {
    appearance: none;     
    padding: 5px 30px 5px 10px;    
    background-color: #fff;    
    border: 1px solid var(--primary-border);    
    border-radius: 6px; 
    width: 200px;
    height: 32px; 
    outline: none;

  }
.common_select::after {
    content: '▼';  /* Unicode for down arrow, you can use an image or font icon */
    font-size: 18px; /* Customize size */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); /* Center the arrow vertically */
    pointer-events: none;  /* Ensure the arrow doesn’t interfere with clicking the select */
  }
.filter_flex_right {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
}

.calendar_flex {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    border: 1px solid var(--primary-border);
    background-color: white;
    height: 30px;
    padding: 0px 10px;
    border-radius: 6px;
    width: fit-content;
}

.calendar_box {
    width: 14px;
    height: 14px;
    position: relative;
}

.calendar_icon {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: contain;
}

@media screen and (max-width:991px) {
    .filter_flex, .filter_flex_right{
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }
    .common_select select {
        width: 100%;
    }
}